.cuerpo{
    max-height: 100vh;
    color: #444444;
    background: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.nav-fondo{
    background: #444444;
}

.navbar a{
    color: #FFFFFF;
    font-size: 1.5rem;
}


.divider{
    width: 100%;
    height: 0.5rem;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo1{
    font-family: 'Poiret One', cursive;
    font-size: 6.875rem;
    text-transform: uppercase;
}

.btn-menu{
    border-style: none;
    border-radius: 0%;
    background: #eeeeee;
    color: #444444;
}

.rrss:hover, .btn-menu:hover, a:hover, .navbar a:visited{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
