.cuerpo{
    color: #444444;
    background: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.bg-oscuro{
    background: #444444;
    color: #eeeeee;
}

.navbar a{
    background: #444444;
    padding: 0.5rem;
}

.navbar-brand{
    color: #eeeeee;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

.borde{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.25rem;
    width: 3.85rem;
    height: 4.5rem;
    margin: 0 1rem;
}

.navbar-toggler{
    border-style: none;
}

.cabecera{
    text-align: center;
}

h1{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 3.25rem;
}

.divider{
    width: 100%;
    height: 0.5rem;
    margin: 0.5rem 0 2rem 0;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2, h6{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
}

.caja-galeria{
    border-radius: 2px;
}

.btn-galeria{
    border-style: solid;
    border-color: #444444;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 5%;
    margin: 1rem 0;
    padding: 0.6rem 1rem;
}

footer{
    margin-top: 1.75rem;
}

footer a{
    color: #eeeeee;
}

.rrss:hover, .nav-link:hover, .btn-galeria:hover{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    border-style: none;
}

@media (min-width: 768px){
    .foto-pau{
        width: 30%;
    }

    .sobre-mi-h3{
        padding: 2rem 0;
    }

    .sobre-mi-h3:before{
        content: "¿Tu negocio aún no tiene un proyecto web?";
    }

    .sobre-mi-p1:before{
        content: "Si estás aquí es porque necesitas ampliar el alcance de tu negocio, es decir, vender más, tener más clientes. Sé que estás buscando soluciones para tener presencia en internet donde todo está pasando,  pero te has encontrado con un mar de información, cursos de pago, e-books gratuitos y muchos gurúes asegurando el cielo y la tierra.";
    }

    .sobre-mi-p2:before{
        content: "Sé que no es fácil. Pero lo bueno es que estás aquí.";
    }

    .sobre-mi-p3:before{
        content: "Hola, soy Paula Vera y me fascina el desarrollo web y cómo se pueden crear herramientas poderosas que ayuden a las personas a encontrar lo que necesitan. Me motiva crear proyectos que ayuden a mis clientes a ampliar y conectar con su mercado, ayudando así a la prosperidad de su negocio o empresa.";
    }

    .sobre-mi-p4:before{
        content: "He trabajado en muchos lugares donde la tecnología entrega oportunidades para ofrecer experiencias increíbles para clientes y usuarios, pero no explotamos su potencial porque nos olvidamos que al final, todo debe pensarse por, para y desde las personas.";
    }

    .sobre-mi-p5:before{
        content: "Por esto, a diferencia de todas las ofertas que vas a encontrar, yo defiendo que el desarrollo de un proyecto web no es lo realmente importante, sino que éste es el medio para solucionar una necesidad.";
    }

    .sobre-mi-p6:before{
        content: "Este enfoque me permite conectar genuinamente con mis clientes para entregar juntos un proyecto web a la medida.";
    }

    .sobre-mi-img{
        margin-top: 2rem;
        padding-top: 2rem;
    }

}