.cuerpo{
    color: #444444;
    background: #eeeeee;
    font-family: 'Roboto', sans-serif;
}

.bg-oscuro{
    background: #444444;
    color: #eeeeee;
}

.navbar a{
    background: #444444;
    padding: 0.5rem;
}

.navbar-brand{
    color: #eeeeee;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

.borde{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.25rem;
    width: 3.85rem;
    height: 4.5rem;
    margin: 0 1rem;
}

.navbar-toggler{
    border-style: none;
}

.cabecera{
    text-align: center;
}

h1{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 3.25rem;
}

.divider{
    width: 100%;
    height: 0.5rem;
    margin: 0.5rem 0 2rem 0;
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2, h6{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
}

.caja-galeria{
    border-radius: 2px;
}

.btn-galeria{
    border-style: solid;
    border-color: #444444;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 5%;
    margin: 1rem 0;
    padding: 0.6rem 1rem;
}

footer{
    margin-top: 1.75rem;
}

footer a{
    color: #eeeeee;
}

.rrss:hover, .nav-link:hover, .btn-galeria:hover{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold;
    border-style: none;
}

@media (min-width: 768px){
    .foto-pau{
        width: 30%;
    }

    .sobre-mi-h3{
        padding: 2rem 0;
    }

    .sobre-mi-h3:before{
        content: "¡Hola y bienvenid@s!";
    }

    .sobre-mi-p1:before{
        content: "Soy Paula Vera, desarrolladora web front end junior apasionada por la creación de experiencias digitales increíbles. Me encanta estar al día en las últimas tendencias de diseño y tecnología para poder crear sitios web que sean tanto hermosos como funcionales.";
    }

    .sobre-mi-p2:before{
        content: "Desde que era pequeña, siempre me ha gustado resolver problemas y crear cosas nuevas, y el desarrollo web me ha permitido combinar ambas pasiones. Me encanta trabajar en equipo y aprender de mis compañeros de trabajo para poder mejorar mis habilidades y conocimientos.";
    }

    .sobre-mi-p3:before{
        content: "Soy una persona dedicada y enfocada en los detalles, siempre buscando la manera de optimizar el rendimiento y la eficiencia de mis proyectos. Me apasiona trabajar en proyectos desafiantes que me permitan crecer como profesional y aprender cosas nuevas.";
    }

    .sobre-mi-p4:before{
        content: "Siempre estoy buscando nuevas oportunidades para mejorar mis habilidades y estar al tanto de las últimas tendencias de la industria. Si estás interesado en colaborar en un proyecto emocionante, no dudes en ponerte en contacto conmigo. ¡Me encantaría saber más sobre tu proyecto y cómo puedo ayudarte a hacerlo realidad!";
    }

    .sobre-mi-img{
        margin-top: 2rem;
        padding-top: 2rem;
    }

}